.site-content {
    margin: 0 auto;
    max-width: 100%;
    min-width: 100%;
}

.project-container {
    text-align: justify;
    background-color: lightcoral;
    left: 50%;
    border-radius: 1em;
    min-width: 25em;
    max-width: 25em;
    padding: 2em;
    margin:  2em;
}

.project-container img {
    min-width: 20em;
    max-width: 20em;
}